<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
	<link rel="stylesheet" href="/css/styles.css" />
	<title>{{title}}</title>
</head>

<body>
	<main>
		{{> header}}
		<p>This site was re-created by me. It uses geo location data from MapQuest to retrieve weather information
			from DarkSky.</p>
	</main>
	{{> footer}}
</body>

</html>
